.u-center-text { text-align: center; } // this is the parent...the child will be treated as text so it will be centered

.u-margin-bottom-small { margin-bottom: 1.5rem; };
.u-margin-bottom-medium { margin-bottom: 4rem; };
.u-margin-bottom-big { margin-bottom: 8rem; };